/* Loader Styles for loading.html */
.loader {
    border-top-color: #3B82F6; /* Blue-500 */
    -webkit-animation: spinner 1.5s linear infinite;
    animation: spinner 1.5s linear infinite;
}

@keyframes spinner {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}
